In [1]:
import pandas as pd
import numpy as np
import plotly.io as pio
import plotly.express as px

In [2]:
df=pd.read_csv('monthWiseAccident.csv')

In [3]:
df.head()

,States/Uts,January - Fatal Accidents,January - Total Accdents,January - Persons Killed,January - Persons Injured - Greviously Injured,January - Persons Injured - Minor Injury,January - Persons Injured - Total Injured,February - Fatal Accidents,February - Total Accdents,February - Persons Killed,...,December - Persons Killed,December - Persons Injured - Greviously Injured,December - Persons Injured - Minor Injury,December - Persons Injured - Total Injured,Total - Fatal Accidents,Total - Total Accdents,Total - Persons Killed,Total - Persons Injured - Greviously Injured,Total - Persons Injured - Minor Injury,Total - Persons Injured - Total Injured
0,Andhra Pradesh,648,1891,695,583,1504,2087,628,1774,662,...,666,505,1718,2223,7389,21992,7984,6290,18329,24619
1,Arunachal Pradesh,10,23,13,18,15,33,8,18,9,...,13,9,16,25,108,237,127,166,143,309
2,Assam,304,774,303,502,91,593,287,785,315,...,267,514,58,572,3019,8350,3208,6454,1019,7473
3,Bihar,544,832,573,458,41,499,500,764,546,...,605,569,22,591,6731,10007,7205,6872,334,7206
4,Chhattisgarh,474,1385,519,321,989,1310,397,1241,442,...,378,137,771,908,4603,13899,5003,2551,10539,13090

In [9]:
newDF=df.sum()

In [17]:
newDF.reset_index()

,index,0
0,States/Uts,Andhra PradeshArunachal PradeshAssamBiharChhat...
1,January - Fatal Accidents,25082
2,January - Total Accdents,82260
3,January - Persons Killed,27376
4,January - Persons Injured - Greviously Injured,33962
...,...,...
74,Total - Total Accdents,898004
75,Total - Persons Killed,302226
76,Total - Persons Injured - Greviously Injured,368272
77,Total - Persons Injured - Minor Injury,534450
78,Total - Persons Injured - Total Injured,902722

In [21]:
newDF = newDF.reset_index()
newDF.columns = ['Month', 'TotalAccidents']

In [25]:
newDF=newDF.iloc[1:,:]

In [33]:
print(newDF["Month"].values)

['January - Fatal Accidents' 'January - Total Accdents'
 'January - Persons Killed'
 'January - Persons Injured - Greviously Injured'
 'January - Persons Injured - Minor Injury'
 'January - Persons Injured - Total Injured' 'February - Fatal Accidents'
 'February - Total Accdents' 'February - Persons Killed'
 'February - Persons Injured - Greviously Injured'
 'February - Persons Injured - Minor Injury'
 'February - Persons Injured - Total Injured' 'March - Fatal Accidents'
 'March - Total Accdents' 'March - Persons Killed'
 'March - Persons Injured - Greviously Injured'
 'March - Persons Injured - Minor Injury'
 'March - Persons Injured - Total Injured' 'April - Fatal Accidents'
 'April - Total Accdents' 'April - Persons Killed'
 'April - Persons Injured - Greviously Injured'
 'April - Persons Injured - Minor Injury'
 'April - Persons Injured - Total Injured' 'May - Fatal Accidents'
 'May - Total Accdents' 'May - Persons Killed'
 'May - Persons Injured - Greviously Injured'
 'May - Persons Injured - Minor Injury'
 'May - Persons Injured - Total Injured' 'June - Fatal Accidents'
 'June - Total Accdents' 'June - Persons Killed'
 'June - Persons Injured - Greviously Injured'
 'June - Persons Injured - Minor Injury'
 'June - Persons Injured - Total Injured' 'July - Fatal Accidents'
 'July - Total Accdents' 'July - Persons Killed'
 'July - Persons Injured - Greviously Injured'
 'July - Persons Injured - Minor Injury'
 'July - Persons Injured - Total Injured' 'August - Fatal Accidents'
 'August - Total Accdents' 'August - Persons Killed'
 'August - Persons Injured - Greviously Injured'
 'August - Persons Injured - Minor Injury'
 'August - Persons Injured - Total Injured' 'September - Fatal Accidents'
 'September - Total Accdents' 'September - Persons Killed'
 'September - Persons Injured - Greviously Injured'
 'September - Persons Injured - Minor Injury'
 'September - Persons Injured - Total Injured' 'October - Fatal Accidents'
 'October - Total Accdents' 'October - Persons Killed'
 'October - Persons Injured - Greviously Injured'
 'October - Persons Injured - Minor Injury'
 'October - Persons Injured - Total Injured' 'November - Fatal Accidents'
 'November - Total Accdents' 'November - Persons Killed'
 'November - Persons Injured - Greviously Injured'
 'November - Persons Injured - Minor Injury'
 'November - Persons Injured - Total Injured' 'December - Fatal Accidents'
 'December - Total Accdents' 'December - Persons Killed'
 'December - Persons Injured - Greviously Injured'
 'December - Persons Injured - Minor Injury'
 'December - Persons Injured - Total Injured' 'Total - Fatal Accidents'
 'Total - Total Accdents' 'Total - Persons Killed'
 'Total - Persons Injured - Greviously Injured'
 'Total - Persons Injured - Minor Injury'
 'Total - Persons Injured - Total Injured']

In [51]:
# List of exact strings to match
total_accidents_months = [
    'January - Total Accdents', 'February - Total Accdents', 'March - Total Accdents',
    'April - Total Accdents', 'May - Total Accdents', 'June - Total Accdents',
    'July - Total Accdents', 'August - Total Accdents', 'September - Total Accdents',
    'October - Total Accdents', 'November - Total Accdents', 'December - Total Accdents',
    'Total - Total Accdents'
]

# Filter rows to keep only those matching the exact strings
filteredDF = newDF[newDF['Month'].isin(total_accidents_months)]

# Display the filtered DataFrame
print(filteredDF)

                         Month TotalAccidents
2     January - Total Accdents          82260
8    February - Total Accdents          74560
14      March - Total Accdents          79412
20      April - Total Accdents          75554
26        May - Total Accdents          82980
32       June - Total Accdents          79738
38       July - Total Accdents          72380
44     August - Total Accdents          68192
50  September - Total Accdents          64118
56    October - Total Accdents          70796
62   November - Total Accdents          73872
68   December - Total Accdents          74142
74      Total - Total Accdents         898004

In [52]:
filteredDF

                         Month TotalAccidents
2     January - Total Accdents          82260
8    February - Total Accdents          74560
14      March - Total Accdents          79412
20      April - Total Accdents          75554
26        May - Total Accdents          82980
32       June - Total Accdents          79738
38       July - Total Accdents          72380
44     August - Total Accdents          68192
50  September - Total Accdents          64118
56    October - Total Accdents          70796
62   November - Total Accdents          73872
68   December - Total Accdents          74142
74      Total - Total Accdents         898004

In [53]:
# Extract the month name from the 'Month' column and set it as the index
filteredDF = filteredDF.set_index(filteredDF['Month'].str.split(' - ').str[0])

# Drop the original 'Month' column if no longer needed
filteredDF = filteredDF.drop(columns=['Month'])

# Rename the index to 'MonthName'
filteredDF.index.name = 'MonthName'

# Display the modified DataFrame
filteredDF

          TotalAccidents
MonthName
January            82260
February           74560
March              79412
April              75554
May                82980
June               79738
July               72380
August             68192
September          64118
October            70796
November           73872
December           74142
Total             898004

In [60]:
filteredDF=filteredDF.reset_index()

In [63]:
filteredDF.tail()

    MonthName TotalAccidents
8   September          64118
9     October          70796
10   November          73872
11   December          74142
12      Total         898004

In [66]:
filteredDF=filteredDF.iloc[:-1,:]

In [68]:
px.line(filteredDF, x='MonthName', y='TotalAccidents', title='Total Accidents by Month 2019',template='plotly_dark').show()